mixin welcome(welcome)
    .welcome
        .container
            .row
                .col-12.col-lg-10.offset-lg-1
                    .welcome__logo
                        img(src=welcome.logo, alt="")
                    h1.welcome__title!= welcome.title
                    p.welcome__subtitle= welcome.subtitle
                    +btn(welcome.btn.text, welcome.btn.mod)(href=welcome.btn.href)
                    .welcome__arrow
                        img(src=welcome.arrow, alt="")
                    a.welcome__nav(href="#menu")
                        <i class="fas fa-bars"></i>